.sidebar {
  flex: 1;
  height: calc(100vh - 4em);
}

.sidebar-w {
  padding: 1em;
}

.navlinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navlinks .icon {
  font-size: 22px;
  color: rgba(239, 238, 224, 0.25);
}

.navlinks .links a p,
.navlinks .actions a p {
  display: none;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.navlinks .actions {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.links,
.actions {
  background-color: rgb(19, 21, 22);
  padding: 15px;
  border-radius: 50px;
}

.navlinks a.active .icon {
  color: #facd66;
}

.navlinks a:nth-child(1) .icon {
  font-size: 25px;
}

.navlinks a:nth-child(2) .icon {
  font-size: 19px;
}

.navlinks-active {
  display: none;
}

@media screen and (max-width: 600px) {
  .sidebar {
    height: 0;
    width: 0;
    z-index: 999;
  }

  .sidebar-w {
    padding: 0;
  }

  .navlinks {
    display: none;
  }

  .navlinks-active {
    background-color: #1d2123;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: calc(100vh - 4em);
    padding: 1em;
    margin-left: -10px;
  }

  .navlinks-active .links {
    gap: 0;
  }

  .navlinks-active .actions {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .navlinks-active .links,
  .navlinks-active .actions {
    background: none;
    padding: 0;
    border-radius: 0;
  }

  .navlinks-active .links a,
  .navlinks-active .actions a {
    display: flex;
    align-items: center;
    gap: 0;
    color: rgba(239, 238, 224, 0.25);
  }

  .navlinks-active a.active {
    color: white;
  }

  .navlinks-active a.active .icon {
    color: #facd66;
  }

  .navlinks-active a .icon {
    font-size: 28px;
  }

  .navlinks-active a:nth-child(1) .icon {
    font-size: 29px;
  }

  .navlinks-active a:nth-child(2) .icon {
    font-size: 21px;
  }

  .navlinks-active .links a p,
  .navlinks-active .actions a p {
    font-size: 15px;
    margin-left: 1.5em;
  }

  .navlinks-active .links > *,
  .navlinks-active .actions > * {
    margin-top: 3.3em;
  }

  .navlinks-active .links {
    margin-top: -1.8em;
  }
}
