* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background: #1d2123;
  color: white;
}

a {
  color: white;
}

.App {
  display: flex;
  position: absolute;
  top: 4em;
  width: 100%;
}

/* .otherside {
} */
